<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>levelName</key>
		<string>Hot Dog</string>
		<key>previewImage</key>
		<string>test.png</string>
		<key>worldHeight</key>
		<integer>3000</integer>
		<key>backgroundSideBuildingImage</key>
		<string>back.png</string>
		<key>backgroundBackImage</key>
		<string>side.png</string>
		<key>recipeItems</key>
		<array>
			<string>HotDogBun</string>
			<string>HotDog</string>
		</array>
	</dict>
	<dict>
		<key>levelName</key>
		<string>BLT</string>
		<key>previewImage</key>
		<string>test.png</string>
		<key>worldHeight</key>
		<integer>4000</integer>
		<key>backgroundSideBuildingImage</key>
		<string>back.png</string>
		<key>backgroundBackImage</key>
		<string>side.png</string>
		<key>recipeItems</key>
		<array>
			<string>Bread</string>
			<string>Lettuce</string>
			<string>Tomato</string>
			<string>Bacon</string>
		</array>
	</dict>
	<dict>
		<key>levelName</key>
		<string>Tacos</string>
		<key>previewImage</key>
		<string>test.png</string>
		<key>worldHeight</key>
		<integer>5000</integer>
		<key>backgroundSideBuildingImage</key>
		<string>back.png</string>
		<key>backgroundBackImage</key>
		<string>side.png</string>
		<key>recipeItems</key>
		<array>
			<string>Tortilla</string>
			<string>Lettuce</string>
			<string>Tomato</string>
			<string>Beef</string>
			<string>HotSauce</string>
		</array>
	</dict>
</array>
</plist>
