<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HotDogBun</key>
	<string>recipeItem_hotdogbun.png</string>
	<key>HotDog</key>
	<string>recipeItem_hotdog.png</string>
	<key>Beef</key>
	<string>recipeItem_beef.png</string>
	<key>HamburgerBun</key>
	<string>recipeItem_bun.png</string>
	<key>Cheese</key>
	<string>recipeItem_cheese.png</string>
	<key>HotSauce</key>
	<string>recipeItem_hotSauce.png</string>
	<key>Lettuce</key>
	<string>recipeItem_lettuce.png</string>
	<key>Tomato</key>
	<string>recipeItem_tomato.png</string>
	<key>Tortilla</key>
	<string>recipeItem_tortilla.png</string>
	<key>TacoShell</key>
	<string>recipeItem_tacoShell.png</string>
	<key>GroundBeef</key>
	<string>recipeItem_groundBeef.png</string>
	<key>Pepperoni</key>
	<string>recipeItem_pepperoni.png</string>
	<key>Dough</key>
	<string>recipeItem_dough.png</string>
	<key>MozzarelaCheese</key>
	<string>recipeItem_mozzarelaCheese.png</string>
	<key>TomatoSauce</key>
	<string>recipeItem_tomatoSauce.png</string>
	<key>Mushroom</key>
	<string>recipeItem_mushroom.png</string>
	<key>BellPeppers</key>
	<string>recipeItem_bellPepper.png</string>
	<key>Onions</key>
	<string>recipeItem_onion.png</string>
	<key>HamburgerPatty</key>
	<string>recipeItem_patty.png</string>
</dict>
</plist>
