<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>levelName</key>
		<string>Hot Dog</string>
		<key>previewImage</key>
		<string>selectLevel-hot_dog.png</string>
		<key>finishImage</key>
		<string>recipeItem-big-hot_dog.png</string>
		<key>worldHeight</key>
		<integer>5000</integer>
		<key>backgroundSideBuildingImage</key>
		<string>back.png</string>
		<key>backgroundBackImage</key>
		<string>side.png</string>
		<key>recipeItems</key>
		<array>
			<string>HotDogBun</string>
			<string>HotDog</string>
		</array>
	</dict>
	<dict>
		<key>levelName</key>
		<string>Hamburger</string>
		<key>previewImage</key>
		<string>selectLevel-hamburger.png</string>
		<key>finishImage</key>
		<string>recipeItem-big-hamburger.png</string>
		<key>worldHeight</key>
		<integer>6000</integer>
		<key>backgroundSideBuildingImage</key>
		<string>back.png</string>
		<key>backgroundBackImage</key>
		<string>side.png</string>
		<key>recipeItems</key>
		<array>
			<string>HamburgerBun</string>
			<string>Lettuce</string>
			<string>Tomato</string>
			<string>GroundBeef</string>
		</array>
	</dict>
	<dict>
		<key>levelName</key>
		<string>Tacos</string>
		<key>previewImage</key>
		<string>selectLevel-taco.png</string>
		<key>finishImage</key>
		<string>recipeItem-big-taco.png</string>
		<key>worldHeight</key>
		<integer>8000</integer>
		<key>backgroundSideBuildingImage</key>
		<string>back.png</string>
		<key>backgroundBackImage</key>
		<string>side.png</string>
		<key>recipeItems</key>
		<array>
			<string>Tortilla</string>
			<string>Lettuce</string>
			<string>Tomato</string>
			<string>Beef</string>
			<string>HotSauce</string>
		</array>
	</dict>
	<dict>
		<key>levelName</key>
		<string>Burrito</string>
		<key>previewImage</key>
		<string>selectLevel-burrito.png</string>
		<key>finishImage</key>
		<string>recipeItem-big-burrito.png</string>
		<key>worldHeight</key>
		<integer>6000</integer>
		<key>backgroundSideBuildingImage</key>
		<string>back.png</string>
		<key>backgroundBackImage</key>
		<string>side.png</string>
		<key>recipeItems</key>
		<array>
			<string>TacoShell</string>
			<string>GroundBeef</string>
			<string>Cheese</string>
			<string>HotSauce</string>
			<string>Tomato</string>
			<string>Lettuce</string>
		</array>
	</dict>
	<dict>
		<key>levelName</key>
		<string>Pizza</string>
		<key>previewImage</key>
		<string>selectLevel-pizza.png</string>
		<key>finishImage</key>
		<string>recipeItem-big-pizza.png</string>
		<key>worldHeight</key>
		<integer>6000</integer>
		<key>backgroundSideBuildingImage</key>
		<string>back.png</string>
		<key>backgroundBackImage</key>
		<string>side.png</string>
		<key>recipeItems</key>
		<array>
			<string>Pepperoni</string>
			<string>Dough</string>
			<string>MozzarellaCheese</string>
			<string>TomatoSauce</string>
			<string>Mushroom</string>
			<string>BellPeppers</string>
			<string>Onions</string>
		</array>
	</dict>
</array>
</plist>
