<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stage1</key>
	<array>
		<string>HotDog</string>
		<string>30000</string>
		<array>
			<string>HotDogBun</string>
			<string>HotDog</string>
		</array>
		<integer>3</integer>
	</array>
	<key>Stage2</key>
	<array>
		<string>HamBurger</string>
		<string>35000</string>
		<array>
			<string>Bread</string>
			<string>Meat</string>
			<string>Cheese</string>
		</array>
		<integer>4</integer>
	</array>
</dict>
</plist>
